.sidebar {
  background-color: $color-background;
  width: 200px;
  position: relative;
  transition: all linear 0.3s;

  @include media-breakpoint-down($sm) {
    position: fixed;
    bottom: 20px;
    z-index: 2;
    right: -200px;
  }
  &_active {
    box-shadow: $block-shadow;
    right: 10px;
    padding: 10px;
    transition: right linear 0.3s;

    .sidebar-button {
      right: 10px;
      left: initial;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      &::after {
        transform: rotate(135deg);
        left: 20px;
      }
    }
  }

  &-button {
    @include button-reset-style;
    background-color: $color-background;
    box-shadow: $block-shadow;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    z-index: 5;
    cursor: pointer;
    width: 60px;
    height: 60px;
    top: 20px;
    left: -70px;
    display: none;

    &::after {
      position: absolute;
      z-index: 10;
      content: "";
      width: 15px;
      height: 15px;
      border-top: 3px solid $color-main;
      border-left: 3px solid $color-main;
      transform: rotate(-45deg);
      top: 22px;
      left: 26px;
    }

    @include media-breakpoint-down($sm) {
      display: block;
    }
  }

  .right-column {
    h2 {
      font-size: 20px;
    }

    a {
      font-size: 18px;

      &:hover {
        font-weight: bold;
      }
    }

    .widget_categories {
      .wp-block-categories-list {
        padding-inline-start: 10px;
      }

      .cat-item {
        margin-top: 10px;
        position: relative;
      }

      .cat-item::before {
        content: "";
        position: absolute;
        width: 3px;
        height: 3px;
        background-color: lightgrey;
        border-radius: 50%;
        left: -10px;
        top: 8px;
      }
    }
  }
}
